/* RESPONSIVE TABLET */
@media screen and (min-width: 780px) {
    /* Header */
    /* /Header */

    /* Main */
    main .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: normal;
    }

    .col-big {
        margin-bottom: 30px;
        width: calc((100% / 3) * 2 - 10px);
    }

    .col {
        margin-bottom: 30px;
        width: calc(100% / 3 - 20px);
    }

    /* /Main */


}

/* RESPONSIVE DESKTOP */

@media screen and (min-width: 992px) {
    /* Common */
    .container {
        min-width: 990px;
        width: 70%;
        margin: 0 auto;
    }
    /* Header */
    .hamburger i {
        display: none;
    }

    .menu-desktop {
        display: contents;
    }

    .header-menu li:not(:last-child) {
        display: inline-block;
        margin: 0 1.2vw;
        text-transform: capitalize;
    }
    /* /Header */

    /* Main */
    main .col-big {
        display: flex;
    }
    /* /Main */


}