/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* VARIABLES */
:root {
    --header-background-color: #0084FD;
    --button-color-blue: #0084FD;
    --demo-section-bg-color: #B5DDFF;
    --bg-color-section-violet: #9792E4;
    --section-text-color: #9792E4;
    --CTA-free-text: #FDC160; 
    --header-height: 70px;
}
/* LAYOUT */
body {
    font-family: 'PT sans', sans-serif;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.button.white {
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
    background-color: white;
    color: black;
    padding: .7rem 1rem;
    border-radius: 2rem;
}

.button-blue {
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: .2rem;
    background-color: var(--button-color-blue);
    color: white;
    font-size: 1.5rem;
    padding: .7rem 3rem;
    border-radius: 2rem;
    margin: 20px 0;
}

.button-violet {
    display: inline-block;
    text-align: center;
    letter-spacing: .2rem;
    background-color: var(--bg-color-section-violet);
    color: white;
    font-size: 1rem;
    padding: .7rem 3rem;
    border-radius: 2rem;
    margin: 20px 0;
}

.button i {
    font-size: 1.5rem;
}

/* UTILITY */
.text-ac {
    text-align: center;
}

.pb-20 {
    padding-bottom: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.flex {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}

/* HEADER */
header {
    background-color: var(--header-background-color);
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.container {
    margin: 0 25px;
    align-items: center;
    height: 100%;
}

.header-menu ul {
    align-items: center;
    color: white;
}

.hamburger i {
    font-size: 1.5rem;
}

.menu-desktop {
    display: none;
}
/* /HEADER */

/* MAIN */
/* Demo-section */
.demo.container {
    margin-top: 120px;
    margin-bottom: 50px;
}

section {
    background-color: var(--demo-section-bg-color);
    padding: 0 20px;
    padding-top: 20px;
    border-radius: 2rem;
    margin-bottom: 25px;
}

.demo h2 {
    color: var(--button-color-blue);
    margin: 20px 0;
}

section p {
    color: black;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
}

.col-big img {
    max-width: 300px;
}

.col i {
    color: var(--button-color-blue); 
}
/* /Demo-section */

/* Strategic-planning section */
.violet {
    background-color: var(--bg-color-section-violet);
    padding: 25px 0;
}

.strategic-planning h2 {
    color: white;
    margin: 20px 0;
}
.strategic-planning p {
    color: white;
    line-height: 2rem;
}

.app-developement {
    background-color: white;
    margin-top: 2rem;
}

.app-developement img {
    width: 100%;
}

.violet .app-developement h2 {
    color: black;
    font-size: 2rem;
}

.app-developement p {
    font-weight: 300;
    font-style: italic;
}

.app-developement i {
    display: inline-block;
    background-color: var(--bg-color-section-violet);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    margin: 2rem;
    color: black;
}
/* /Strategic-planning section */

/* Testimonial section */
.testimonial {
    text-align: center;
    padding-bottom: 50px;
}

.testimonial h4{
    font-weight: 300;
    margin: 25px 0;
} 

.testimonial h2 {
    color: var(--section-text-color);
}
.testimonial h3 {
    color: white;
}
.testimonial p {
    color: black;
    margin: 2rem 0;
}
.testimonial i {
    font-size: 1.5rem;
}
.testimonial section {
    margin-top: 25px;
    background-color: var(--bg-color-section-violet);
    padding: 25px;
    color: white;
}

.img1,
.img2,
.img3{
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.img1 {
    background-image: url(../img/testimonial1.jpg);
}

.img2 {
    background-image: url(../img/testimonial2.jpg);
}

.img3 {
    background-image: url(../img/testimonial3.jpg);
}

.text-area p {
    color: white;
}
/* /Testimonial section */

/* Work-withus section */
.violet h2 {
    color: white;
    font-size: 3rem;
}
.violet .text-area {
    width: 100%;
    margin: 50px auto;
}

.violet .col h2,h3 {
    color: var(--section-text-color);
}

.col h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.col p {
    font-weight: 300;
}
.violet section.col {
    background-color: white;
}
/* /Work-withus section */

/* /MAIN */


